#main.login { min-height: calc(100vh - var(--header-height));}
#main.login .inner_02 { border:1px solid var(--primary_m); padding-top: var(--space_lg); padding-bottom: var(--space_xlg); border-radius: var(--round-xlg); }
#main.login .fs_xlg { color: var(--primary_m); }
#main.login .login-form { display: flex; flex-direction: column; align-items: center; gap: 1rem; }
.S9gUrf-YoZ4jf  {  width: 320px; height: 56px; }
.S9gUrf-YoZ4jf > div,
.S9gUrf-YoZ4jf > div > div {width: 100%; height: 100%; border-radius: 50px;}
.nsm7Bb-HzV7m-LgbsSe, .nsm7Bb-HzV7m-LgbsSe-MJoBVe {width: 100%; height: 100%; }
.S9gUrf-YoZ4jf * { font-size: var(--font_md); }

@media screen and (max-width:1280px) {
    #main.login { padding: 0 1rem; }
}